@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
.listitem{
     font-family: "ABeeZee", sans-serif;
    font-weight: 500;

}


.listitem:hover{
    color: #EA580C !important;
   
    
}

.munu{
    color:#fad0bcd8;
}


@media (min-width:992px) and (max-width:1199px){
     .navbar-nav {
        align-items: center;
        gap: 20px;   
        padding: 20px;
        
    }
    .listitem:hover{
    color: #EA580C !important;
}

    .nav-btn{
        padding: 13px 35px 13px 25px;

    }
    .diploy-pera{
        width: 150px !important;
    }
    
   
    
}

@media (max-width:991px){
    .nav-section{
       padding-top:0px;
    }
    .navbar-nav {
        align-items: center;
        gap: 10px;   
        padding: 20px;
        
    }

    .navber-respon{
        background-color: bisque;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;

    }
    .nav-btn-main{
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 30px;
    
        
    }

    .logo{
        width: 250px;
    }

    .busi-section{
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .left-heading{
        padding-top: 0px;
    }
    .heading{
        padding-top: 50px;
    }

    .busi-section .left-heading .heading h1{
        font-size: 36px;
        width: 390px;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .hero-img{
        padding-top: 20px;
    }
    .card-part{
        justify-content: center;
        gap: 30px;
    }
    .hero-pera{
        width: 390px;
    }


}